<section class="collection">
    <div class="container">
        <h2 class="main__title">Collections</h2>
        <div class="collection-content">
            <div class="collection-content__card">
                <img class="collection-content__card_img" src="images/collection1.webp" alt="">
                <div class="collection-content__card-info">
                    <div class="films-content__card_icon">
                        <i class="fad icon__play"></i>
                    </div>
                    <p class="collection-content__description">All Marvel Films</p>
                </div>
            </div>
            <div class="collection-content__card">
                <img class="collection-content__card_img" src="images/collection2.webp" alt="">
                <div class="collection-content__card-info">
                    <div class="films-content__card_icon">
                        <i class="fad icon__play"></i>
                    </div>
                    <p class="collection-content__description">Fast and the Furious</p>
                </div>
            </div>
            <div class="collection-content__card">
                <img class="collection-content__card_img" src="images/collection3.webp" alt="">
                <div class="collection-content__card-info">
                    <div class="films-content__card_icon">
                        <i class="fad icon__play"></i>
                    </div>
                    <p class="collection-content__description">Star Wars</p>
                </div>
            </div>
        </div>        
    </div>
</section>