<section class="films">
    <div class="container">
        <h2 class="main__title">Films</h2>
        <div class="films-content">
            <div class="films-content__card">
                <img class="films-content__card_img" src="images/films1.webp" alt="">
                <div class="films-content__card_icon">
                    <i class="fad icon__play"></i>
                </div>
                <p class="films-content__card_time">2:14:33</p>
                <h2 class="films-content__card_title">Black Panther</h2>
                <p class="films-content__card_description">
                    At first glance, you can decide that Wakanda is an ordinary territory of wild Africa, but this is
                    not so. Here, in the bowels of the desert lands, there are hidden deposits of a unique metal capable
                    of absorbing...
                </p>
            </div>
            <div class="films-content__card">
                <img class="films-content__card_img" src="images/films2.webp" alt="">
                <div class="films-content__card_icon">
                    <i class="fad icon__play"></i>
                </div>
                <p class="films-content__card_time">2:32:13</p>
                <h2 class="films-content__card_title">The Dark Knight</h2>
                <p class="films-content__card_description">
                    Batman raises stakes in the war on crime. With the help of Lieutenant Jim Gordon and Attorney Harvey
                    Dent, he intends to clear the streets of crime that is poisoning the city. The cooperation is
                    effective, but soon they...
                </p>
            </div>
            <div class="films-content__card">
                <img class="films-content__card_img" src="images/films3.webp" alt="">
                <div class="films-content__card_icon">
                    <i class="fad icon__play"></i>
                </div>
                <p class="films-content__card_time">1:53:45</p>
                <h2 class="films-content__card_title">The Gentlemen</h2>
                <p class="films-content__card_description">
                    One cunning American, from his student years, had been selling drugs, and now he came up with a
                    scheme of illegal enrichment using the estates of an impoverished English aristocracy and made a
                    very good fortune on ...
                </p>
            </div>
            <div class="films-content__card">
                <img class="films-content__card_img" src="images/films1.webp" alt="">
                <div class="films-content__card_icon">
                    <i class="fad icon__play"></i>
                </div>
                <p class="films-content__card_time">2:58:20</p>
                <h2 class="films-content__card_title">The Lord of the rings</h2>
                <p class="films-content__card_description">
                    Tales of Middle-earth is a chronicle of the Great War for the Ring, a war that lasted more than one
                    thousand years. The one who owned the Ring received power over all living creatures, but was obliged
                    to serve evil...
                </p>
            </div>
        </div>
    </div>
</section>