<nav class="header-nav">
    <div class="container header-nav__container">
        <a href="" class="header-nav__logo">
            <img src="images/logo.webp" alt="">
            CINEMAS
        </a>
        <ul class="header-nav__list">
            <li><a href="" class="header-nav__list_link">Films</a></li>
            <li><a href="" class="header-nav__list_link">Serials</a></li>
            <li><a href="" class="header-nav__list_link">Cartoons</a></li>
            <li><a href="" class="header-nav__list_link">Collections</a></li>
        </ul>
    </div>
</nav>