<section class="series">
    <div class="container">
        <h2 class="main__title">Series</h2>
        <div class="series__grid">
            <div class="series__item series__item_first">
                <img src="images/seriesPoster.webp" alt="" class="series__item-img">
                <div class="series__item-content">
                    <h3 class="series__item-title">Game of Thrones</h3>
                    <p class="series__item-text">The time of prosperity is drawing to a close, and the summer, which lasted almost a decade, is dying away. Around the center of power of the Seven Kingdoms, the Iron Throne, a conspiracy is ripening, and during this difficult time, the king decides to seek support from his youth friend Eddard Stark. In a world where everyone - from the king to the mercenary - is eager for power, intrigues and is ready to stick a knife in the back, there is ...</p>
                    <a href="" class="header-content__button-watch">Watch now</a>
                </div>
            </div>
            <div class="series__item series__item_second">
                <img src="images/series1.webp" class="series__item-img" alt="">
                <div class="series__item-content">
                    <div class="films-content__card_icon">
                        <i class="fad icon__play"></i>
                    </div>
                    <h3 class="series__item-title">Wanda Vision</h3>
                </div>
            </div>
            <div class="series__item">
                <img src="images/series2.webp" class="series__item-img" alt="">
                <div class="series__item-content">
                    <div class="films-content__card_icon">
                        <i class="fad icon__play"></i>
                    </div>
                    <h3 class="series__item-title">The Flash</h3>
                </div>
            </div>
            <div class="series__item">
                <img src="images/series3.webp" class="series__item-img" alt="">
                <div class="series__item-content">
                    <div class="films-content__card_icon">
                        <i class="fad icon__play"></i>
                    </div>
                    <h3 class="series__item-title">The Great</h3>
                </div>
            </div>
            <div class="series__item">
                <img src="images/series4.webp" class="series__item-img" alt="">
                <div class="series__item-content">
                    <div class="films-content__card_icon">
                        <i class="fad icon__play"></i>
                    </div>
                    <h3 class="series__item-title">GOTHAM</h3>
                </div>
            </div>
            <div class="series__item">
                <img src="images/series5.webp" class="series__item-img" alt="">
                <div class="series__item-content">
                    <div class="films-content__card_icon">
                        <i class="fad icon__play"></i>
                    </div>
                    <h3 class="series__item-title">The Witcher</h3>
                </div>
            </div>
        </div>
    </div>
</section>